{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/home-bg.jpg') }}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Sign In</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row" style="margin-top: 5%">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% for message in get_flashed_messages() %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
            {% endfor %}

            <!-- Login Form -->
            {{ wtf.quick_form(login_form) }}
            <p style="margin-top: 5%">
                Don't have an account?
                <a href="{{url_for('auth.register')}}">Sign Up</a>
            </p>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% block footer %}
    {% include 'footer.html' %}
{% endblock %}

{% endblock %}