{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import 'macros.html' as macro %}

{% block content %}
<div class="container">
  <div class="row">
    <col-md-12>
      <div class="thumbnail text-center">
        <h4>{{ blogpost.title }}</h4>
        <p class="lead">{{ blogpost.description }}</p>
      </div>
    </col-md-12>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        {{ wtf.quick_form(form) }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Comments</h3>
      {{ macro.displayComment (comment) }}
    </div>
  </div>
</div>
{% block footer %}
    {% include 'footer.html' %}
{% endblock %}

{% endblock %}