{% extends 'base.html' %}

{% block content %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{{ url_for('static', filename='img/home-bg.jpg') }}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Brian's Blog</h1>
          <span class="subheading">Welcome to My Developer Journey</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
        {% for blog in blogs.items %}
        <a href="#">
          <h2 class="post-title">
            {{ blog.title }}
          </h2>
          <h3 class="post-subtitle">
            {{ blog.content }}
          </h3>
        </a>
        <p class="post-meta">Posted by {{ blog.user.username }}
          on {{ blog.posted.strftime('%d-%m-%Y') }}</p>
          <p class="post-meta"> <a class="btn btn-sm btn-warning" href="{{url_for('main.blog',id=blog.id)}}" >Comment</a>  {{blog.comment.count()}} Comments</p>
        {% endfor %}
      </div>
      <hr>
    </div>
  </div>
</div>

<hr>
{% block footer %}
    {% include 'footer.html' %}
{% endblock %}

{% endblock %}