<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('main.index') }}">My Developer Life</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('main.index') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('main.about') }}">About</a>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mr-auto">
        {% if current_user.is_authenticated %}
        <li><a class="nav-link btn btn-default" href="{{url_for('main.profile', uname=current_user.username)}}">{{current_user.username}}'s Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-warning ml-2" href="{{ url_for('main.new_blog') }}">Post Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-warning ml-2" href="{{ url_for('auth.logout') }}">Sign Out</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link btn btn-warning ml-4" href="{{ url_for('auth.login') }}">Sign In</a>
        </li> 
        {% endif%}
      </ul>
    </div>
  </div>
</nav>